<div class="container">
    <div class="row-10 mt-3 d-flex border border-dark">
        <div class="col-3 border border-dark">
            <div class="card" style="width: 20rem;">
                <img
                    src="{{card.image_uris.large}}"
                    class="card-img-top"
                    alt="{{card.name}}"
                />
            </div>
        </div>
        <div class="col=6 mt-3 ms-3 border border-dark">
            <div class="row-6">
                <h3>{{card.name}}</h3>
                <h4>{{card.type_line}}</h4>
                <h4>{{card.rarity}}</h4>
                <p>{{card.oracle_text}}</p>
                <p>{{card.flavor_text}}</p>
                <p>{{card.artist}}</p>
                <p>{{card.released_at}}</p>
                <p>Collector number: {{card.collector_number}}</p>
            </div>

        </div>
    </div>
    <div class="row">
        {{#if user}}
            <!-- Review Section -->
            <h4>Leave a Review!</h4>
            <!-- Form to Create a Review -->
            <form action="/review/create/{{card._id}}" method="post">
                <label for="content">Content</label>
                <textarea
                    name="content"
                    id="content"
                    cols="30"
                    rows="3"
                ></textarea>
                <button type="submit">Create the review</button>
            </form>
            <!-- End of the Form to Create a Review -->
        {{/if}}

        <div class="container mt-4">
            <h1>Reviews</h1>
            {{#each card.reviews}}
                <div class="col border">
                    <h6>{{author.username}}</h6>
                </div>
                <div class="col border">
                    <p>{{content}}</p>
                </div>
            {{/each}}
        </div>
        <br />
    </div>
    <div>
        <p>Hello World!</p>
    </div>
</div>